<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp">

<h1>AngularJS Filters</h1>
AngularJS provides filters to transform data:

<h3>currency</h3>
<p>Format a number to a currency format.</p>
<div>
    <p>{{ 1234.56 | currency }}</p>
</div>

<h3>filter</h3>
<p>Select a subset of items from an array.</p>
<div ng-controller="namesCtrl">
    <p>Search: <input ng-model="searchText"></p>
    <ul>
        <li ng-repeat="x in names | filter:searchText">
            {{ x }}
        </li>
    </ul>
</div>


<h3>limitTo</h3>
<p>Limits an array/string, into a specified number of elements/characters.</p>
<div>
    <p>{{ 'AngularJS' | limitTo:5 }}</p>
    <p>{{ [1, 2, 3, 4, 5, 6, 7, 8, 9] | limitTo:5 }}</p>
</div>

<h3>lowercase</h3>
<p>Format a string to lower case.</p>
<div>
    <p>{{ 'AngularJS' | lowercase }}</p>
</div>

<h3>number</h3>
<p>Format a number to a string.</p>
<div>
    <p>{{ 1234.5678 | number:2 }}</p>
</div>

<h3>orderBy</h3>
<p>Orders an array by an expression.</p>
<div ng-controller="namesCtrl">
    <ul>
        <li ng-repeat="x in names | orderBy:'toString()'">
            {{ x }}
        </li>
    </ul>
</div>

<h3>uppercase</h3>
<p>Format a string to upper case.</p>
<div>
    <p>{{ 'AngularJS' | uppercase }}</p>
</div>

<h3>Custom Filters</h3>
<ul ng-controller="namesCtrl">
    <li ng-repeat="x in names">
        {{x | myFormat}}
    </li>
</ul>

<script>
var app = angular.module('myApp', []);
app.filter('myFormat', function() {
    return function(x) {
        var i, c, txt = "";
        for (i = 0; i < x.length; i++) {
            c = x[i];
            if (i % 2 == 0) {
                c = c.toUpperCase();
            }
            txt += c;
        }
        return txt;
    };
});
app.controller('namesCtrl', function($scope) {
    $scope.names = [
        'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
        ];
});
</script>

<p>Make your own filters.</p>
<p>This filter, called "myFormat", will uppercase every other character.</p>
</body>
</html>
