<!--The ng-repeat directive actually clones HTML elements once for each item in a collection.-->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="names=['Ram','Krishna','Hari']; 
                        people=[
                            {name:'Ram',country:'Ayodhya'},
                            {name:'Krishna',country:'Mathura'},
                            {name:'Radha',country:'Vrindavan'}]"
>
  <p>Looping with ng-repeat:</p>
  <ul>
    <li ng-repeat="x in names">
      {{ x }}
    </li>
  </ul>


  <!--The ng-repeat directive used on an array of objects-->
  <p>The ng-repeat directive used on an array of objects</p>
  <ul>
    <li ng-repeat="x in people">
      {{ x.name + ', ' + x.country }}
    </li>
  </ul>
</div>

</body>
</html>
